page-home {
    .socket {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        border: 4px solid #f3f3f3;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        //display: block;
    }
    .socket .button {
        width: 90%;
        height: 90%;
        background: rgb(255, 0, 0);
        border-radius: 100%;
        //position: absolute;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 6px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        transition-timing-function: cubic-bezier(0.05, 0.58, 0.32, 1.35);
        -webkit-transition-timing-function: cubic-bezier(0.05, 0.58, 0.32, 1.35);
        cursor: pointer;
    }
    .socket .button.active {
        width: 60px;
        height: 60px;
        border-radius: 8px;
        top: 30px;
    }

    .socket.active {
        animation-name: pulse;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes pulse{
	    0%{
		    box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	    }
	    65%{
            box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
        }
        90%{
            box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
        }
    }
    
        
    div.camara{
        background-color: black;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
    }
    
    .imgLoader{
        display: grid;
        padding-top: 7.5%;
        height: 100%;
    }

    .col6 {
        width: 50%;
        height: 120px;
        padding: 0px;
        margin: 1px;
        border: 1px;
    }

    .col6.selected{
        border-color: rgb(32, 111, 230);
        border-style: outset;
    }

    .col6.noselected{
        border-color: gray;
        border-style: ridge;
    }

    .col12 {
        width: 100%;
        height: 240px;
        padding: 0px;
        border: 1px;
        border-color: gray;
        border-style: ridge;
    }

    .ocultoCam {
        display: block;
    }

    .visib{
        display: inline;
        visibility: visible;
    }

    .invisib{
        display: none;
        visibility: hidden;
    }

    .visibl{
        visibility: visible;
    }

    .invisibl{
        visibility: hidden;
    }

    .rec{
        animation-name: pulse;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    @keyframes pulse{
        0%{
            box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
        }
        65%{
            box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
        }
        90%{
            box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
        }
    }

    .toolbar{
        background-color: rgba(0, 0, 0, 0.205);
    }
    .toolbar.active{
        background-color: rgba(0, 0, 0, 0.397);
    }




    #newsframe {
        //set the height to 100% of the viewport less the height of the header
        height: calc(100vh - 60px);
      
        //set the width to 100% of the viewport width
        width: 100vw; 
      
        //remove border, padding, margin
        border: none;
        padding: 0;
        margin: 0;
      }
  
  $joy-size: 175px;
  
  #zone_joystick {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: calc(50vh - $joy-size / 2);
    
    .nipple {
  
      &, .back, .front {
        opacity: 0.99 !important;
      }
  
      .front {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 50%;
        left: 50%;
        transform: translateY(-50%), translateX(-50%);
        padding: 10px !important;
        box-shadow: 0 10px 20px rgba(101, 109, 120, 0.4) !important;
        background: linear-gradient(to bottom, #fff 0%, #EBEEF3 100%) !important;
    
        &::before {
          position: absolute;
          content: '';
          width: 100px;
          height: 100px;
          left: calc(50% - 50px);
          top: calc(50% - 50px);
          box-shadow: inset 0 0 20px rgba(#ffffff, 0.8);
          background: radial-gradient(#5790DC, #5790DC 4px, transparent 5px), url('data:image/svg+xml;utf8,<svg width="136px" height="137px" viewBox="0 0 136 137" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.300000012"><g fill-rule="nonzero" fill="#AAB2BD"><polygon transform="translate(130.000000, 68.485714) scale(-1, 1) translate(-130.000000, -68.485714)" points="124 68.4857143 133.818182 78.7714286 136 76.4857143 128.363636 68.4857143 136 60.4857143 133.818182 58.2 125.090909 67.3428571"></polygon><polygon points="0.4 68.4857143 10.2181818 78.7714286 12.4 76.4857143 4.76363636 68.4857143 12.4 60.4857143 10.2181818 58.2 1.49090909 67.3428571"></polygon><polygon points="66.5857143 0.5 56.3 10.3181818 58.5857143 12.5 66.5857143 4.86363636 74.5857143 12.5 76.8714286 10.3181818 67.7285714 1.59090909"></polygon><polygon points="66.5857143 136.9 56.3 127.081818 58.5857143 124.9 66.5857143 132.536364 74.5857143 124.9 76.8714286 127.081818 67.7285714 135.809091"></polygon></g></g></svg>');
          background-size: 76px 76px;
          background-repeat: no-repeat;
          background-position: 12px 12px;
          border-radius: 100%;
          z-index: 2;
          border: 1px solid rgba(#CCD1D9, 0.3);
        }
  
        &::after {
          position: absolute;
          content: '';
          width: $joy-size / 2;
          height: $joy-size / 2;
          top: 0;
          left: 0;
          border-radius: 100%;
          box-shadow: 0 2px 0 rgba(#fff, 0.6);
          background: linear-gradient(to bottom, #e8edf4 0%, #f5f7fa 100%);
        }
      }
  
      .back {
        position: absolute;
        width: $joy-size;
        height: $joy-size;
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, #f3f5f7 0%, #f9fafc 100%) !important;
        padding: 6px;
  
        &::after {
          position: absolute;
          content: '';
          width: $joy-size - 12;
          height: $joy-size - 12;
          border-radius: 100%;
          box-shadow: inset 0 0 10px rgba(67, 74, 84, 0.4);
          background: radial-gradient(ellipse at center, #fcfdff 0%, #d8dee7 100%);
        }
      }   
    }
  }


.anyButton{
    display:block;
    width:28px;
    height:28px;
    background-repeat:no-repeat;
    float:left;
    display:block;
    width:28px;
    height:28px;
    margin:0 14px 14px 0;
    background-position:0 0;
    background-repeat:no-repeat;
    cursor:pointer;
}
[class^=ui-ptz-icon-]{
    display:block;
    width:28px;
    height:28px;
    background-repeat:no-repeat
}
.ui-ptz-icon,.ui-ptz-specail-icon{
    float:left;
    display:block;
    width:28px;
    height:28px;
    margin:0 14px 14px 0;
    background-position:0 0;
    background-repeat:no-repeat;
    cursor:pointer
}
.ui-ptz-specail-icon{
    width:34px;
    height:34px;
    margin:-3px 11px 3px -3px;
    background-position:0 -60px
}
.ui-ptz-icon:hover{
    background-position:0 120px
}
.ui-ptz-specail-icon:hover{
    background-position:0 -94px
}
.ui-ptz-specail-icon [class^=ui-ptz-icon-]{
    float:left
}
.ui-ptz-icon-leftup{
    background-position:0 0
}
.ui-ptz-icon-up{
    background-position:0 -30px
}
.ui-ptz-icon-rightup{
    background-position:0 -60px
}
.ui-ptz-icon-left{
    background-position:0 -90px
}
.ui-ptz-icon-right{
    background-position:0 -120px
}
.ui-ptz-icon-leftdown{
    background-position:0 -150px
}
.ui-ptz-icon-down{
    background-position:0 -180px
}
.ui-ptz-icon-rightdown{
    background-position:0 -210px
}
.ui-ptz-icon-center{
    background-position:0 -240px
}

[class^=ui-ptz-icon-]{
    background-image:url(../../assets/imgs/icons.png);
}
.ui-ptz-icon,.ui-ptz-specail-icon{
    background-image:url(../../assets/imgs/pic.png);
}

}